<html>
    <head>
<title>
    <%= title %>
</title>
<script src="https://kit.fontawesome.com/f922b33cad.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/contactList/assets/css/home.css">  
</head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-paperclip"></i>
            Contact list</h1>
        <div>
        <ul id="list">
          <% for(let i of contact_list){ %>
              <li>
                  <%= i.name %>
                  <%= i.phone %>
                  <div class="delete-button">
                    <a href="/contacts/delete-contact/?id=<%= i._id %>">
                        <i class="fas fa-window-close"></i>
                    </a>
                </div>
              </li>
              
              <% } %>
        </ul>
        </div>
        <form action="/contacts/add-contact" method="POST">
            <input type="text" name="name" placeholder="enter name">
            <input type="number" name="phone" placeholder="enter phone">
            
            <button type="submit">Add Contact</button>
        </form>
    </body>
    <script type="text/javascript" src="/js/home.js"></script>
</html>